<p id="notice"><%= notice %></p>

<div class="panel panel-priamry">
	<div class="panel-heading">
	  <%= @blog_post.title %>
	 </div>
	 <div class="panel-body">
	 	<p>By: <%= @blog_post.author %></p>
	 	<p><%= @blog_post.blog_entry %></p>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div>
	<%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-primary" %> 
	<%= link_to 'Back', blog_posts_path, class: "btn btn-info" %>
</div>