<div class="container blog_index">
  <h1 class="blog_top"><%= current_user.username %>'s Blog!</h1>
    <div class="row">
      <% current_user.blog_posts.each do |blog_post| %>
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <p><%= link_to blog_post.title, blog_post, class: "btn btn-primary" %></p>
              <p><%= blog_post.created_at.strftime('%m/%d/%Y') %></p>
            </div>
            <div class="panel-body">
              By: <%= blog_post.user.username %><br />
              <p><%= blog_post.blog_entry[0..250] %>...[<%= link_to "Read More", blog_post %>]</p>
            </div>
            <div class="panel-footer">
              <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
              <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>